name: Lint

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Project checkout
      uses: actions/checkout@v1
    - name: Node.js Setup 
      uses: actions/setup-node@v1.1.0
    - name: Installation of dependencies
      run: npm ci
    - name: Lint
      run: npm run lint
